<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Metrorail Wait Times</title>
<style type=text/css">
.infodiv {
	width: 300px;
	clear: left;
	float: left;
}
</style>
</head>
<body>
<h1>Metrorail Wait Times</h1>
<p>This page displays historical wait times for Metrorail trains, sorted by station name, line color, and destination.</p>
<h3>Wait times over the last hour:</h3>
<div id="waits"></div>
{% for route, wait_times in waits %}
<div>
<div style="width: 300px; clear: left; float: left;">{{ route.location_name }} | {{ route.line }} | {{ route.destination_name }}</div>
<div><span class="inlinesparkline">{% for wait_time in wait_times|dictsort:'offset' %}{{ wait_time.offset }}:{{ wait_time.wait|default_if_none:'null' }}{% if not forloop.last %},{% endif %}{% endfor %}</span></div>
</div>
{% endfor %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="http://www.omnipotent.net/jquery.sparkline/1.6/jquery.sparkline.min.js"></script>
<script type="text/javascript">
$(function() {
	$('.inlinesparkline').sparkline('html', { 
		width: '200px', 
		spotColor: false, 
		minSpotColor: false, 
		maxSpotColor: false,
		chartRangeMin: 0, 
		chartRangeMax: 20,
		chartRangeMinX: 0,
		chartRangeMaxX: {{ duration }},
	});
});
</script>
</body>
